/* select2 cross issue */
a.select2-search-choice-close:active{
    position: absolute;
}

/* page break in print issue */
.page-break-div {
    page-break-after: always !important;
}
@media print {
    .page-break-div {
        page-break-after: always !important;
    }
}
/* readonly input field bg color */
input[type="text"]:read-only,input[type="number"]:read-only {
    background-color: #d8d8d8;
}